<div class="row"> 
    <div class="col s12">
        <h2>Marcas y Categorias</h2>
    </div>
    <div class="col s6 mr-2">
        <div class="card">
        <div class="card-image card small">
          <img src="https://materializeweb.com/images/sample-1.jpg">
          <span class="card-title">Marcas</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a routerLink="/parametros/marcas">Ir a Todas las  Marcas</a>
        </div>
      </div>
    </div>
    <div class="col s6 ">
        <div class="card">
            <div class="card-image card small">
              <img src="https://materializeweb.com/images/sample-1.jpg">
              <span class="card-title">Categorias</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a routerLink="/parametros/categorias">Ir a Todas las Categorias</a>
            </div>
          </div>
    </div>
</div>

